#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -ldflags="-s -w -X main.version=1.1.0" -o srmta ./cmd/srmta

override_dh_auto_test:
	@echo "Skipping tests during package build"

override_dh_auto_install:
	# Binary
	install -D -m 0755 srmta debian/srmta/usr/sbin/srmta
	# Systemd
	install -D -m 0644 deploy/systemd/srmta.service debian/srmta/lib/systemd/system/srmta.service
	install -D -m 0644 deploy/systemd/srmta.socket  debian/srmta/lib/systemd/system/srmta.socket
	# Config
	install -D -m 0640 configs/config.example.yaml debian/srmta/etc/srmta/config.yaml
	install -D -m 0600 deploy/systemd/srmta.env    debian/srmta/etc/srmta/srmta.env
	install -d -m 0750 debian/srmta/etc/srmta/config.d
	install -d -m 0750 debian/srmta/etc/srmta/dkim
	for f in configs/config.d/*.yaml; do \
		install -m 0640 "$$f" debian/srmta/etc/srmta/config.d/; \
	done
	# Migrations
	install -d -m 0755 debian/srmta/usr/share/srmta/migrations
	install -m 0644 migrations/*.sql debian/srmta/usr/share/srmta/migrations/
	# Spool and log dirs
	install -d -m 0750 debian/srmta/var/spool/srmta
	install -d -m 0750 debian/srmta/var/log/srmta

override_dh_shlibdeps:
	@echo "Skipping shlibdeps for static Go binary"

override_dh_strip:
	@echo "Skipping strip (already stripped by ldflags)"

override_dh_dwz:
	@echo "Skipping dwz for Go binary"
